<html>{% load i18n %}
<head>
    {% block titulo %}<title>CARGO-TMS</title>{% endblock %}
    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'tms/jquery-ui-1.11.4/jquery-ui.css' %}" />    
    <link rel="stylesheet" type="text/css" href="/static/tms/style.css?v=1" />
    
    <script type="text/javascript" src="{% static 'tms/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tms/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    
</head>
<body class="ui-widget">

{% block cabecera %}{% endblock %}

{% block menu %}{% endblock %}

{% block cont %}{% endblock %}

{% block pie %}{% endblock %}

</body>