<html>
<head>
    <title>TMS</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" 
            rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" 
            href="{% static 'tms/style.css' %}" />

    <link rel="stylesheet" href="/static/tms/primeui-4.1.15/themes/smoothness/theme.css" />
    <link rel="stylesheet" href="/static/tms/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/tms/jquery-ui-1.11.4/jquery-ui.css" />
    <link rel="stylesheet" href="/static/tms/primeui-4.1.15/primeui.min.css" />
   
   
    <script type="text/javascript" src="/static/tms/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/tms/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/tms/primeui-4.1.15/primeui.min.js"></script>
   
    <script type="text/javascript" src="/static/tms/x-tag-core-1.5.11.min.js"></script>
    <script type="text/javascript" src="/static/tms/primeui-4.1.15/primeelements.min.js"></script>  
               

</head>
<body>

    <p-menubar>
        <p-submenu value="Expediciones">
            <p-menuitem value="Undo" icon="fa-mail-forward"></p-menuitem>
            <p-menuitem value="Redo" icon="fa-mail-reply"></p-menuitem>
        </p-submenu>
        <p-submenu value="Transportes">
            <p-menuitem value="Contents"></p-menuitem>
            <p-submenu value="Search" icon="fa-search">
                <p-submenu value="Text">
                    <p-menuitem value="Workspace"></p-menuitem>
                </p-submenu>
                <p-menuitem value="File"></p-menuitem>
            </p-submenu>
        </p-submenu>
            <p-submenu value="Clientes">
            <p-menuitem value="Undo" icon="fa-mail-forward"></p-menuitem>
            <p-menuitem value="Redo" icon="fa-mail-reply"></p-menuitem>
        </p-submenu>
            <p-submenu value="Proveedores">
            <p-menuitem value="Undo" icon="fa-mail-forward"></p-menuitem>
            <p-menuitem value="Redo" icon="fa-mail-reply"></p-menuitem>
        </p-submenu>
        <p-submenu value="Flota">
            <p-submenu value="Edit" icon="fa-refresh">
                <p-menuitem value="Save" icon="fa-save"></p-menuitem>
                <p-menuitem value="Update" icon="fa-save"></p-menuitem>
            </p-submenu>
            <p-submenu value="Other" icon="fa-phone">
                <p-menuitem value="Delete" icon="fa-minus"></p-menuitem>
            </p-submenu>
        </p-submenu>
        <p-submenu value="Configuración">
            <p-submenu value="New" icon="fa-plus">
                <p-menuitem value="Project"></p-menuitem>
                <p-menuitem value="Other"></p-menuitem>
            </p-submenu>
            <p-menuitem value="Open"></p-menuitem>
            <p-menuitem value="Quit"></p-menuitem>
        </p-submenu>        
        <p-menuitem value="Salir"></p-menuitem>
    </p-menubar>

    <div style="height:300px"></div>




</body>