{% extends "tms/base.html" %}

{%block cont %}

<div id="body">

    <div id="login" style="float:left">
        <form method="post" action="/tms/signin/">{% csrf_token %}
            <table class="ui-widget"> 
                <tr>
                    <td>Username:</td><td><input type="text" is="p-inputtext" name="username" size="20"></td>
                </tr>
                <tr>
                    <td>Password:</td><td><input type="password" is="p-password" name="password" size="20" inline="false"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td><td><button is="p-button">Sign in</button></td>
                </tr>
            </table>
        </form>
    </div>

</div>

{% endblock %}
