<form method="get" action="{%  url 'tms:pai' %}">
    {% csrf_token %}
        
    <table>
        <tr>
            <td>Nombre</td>
            <td colspan="2"><input name="q1painom" size="40"/></td>
        </tr>
        <tr>
            <td>Código</td>
            <td><input name="q1paicod" size="5"/></td>
            <td><input name="q2paicod" size="5"/></td>
        </tr>
        <tr>
            <td>Alpha-3</td>
            <td><input name="q1paic3c" size="5"/></td>
            <td><input name="q2paic3c" size="5"/></td>
        </tr>        
        <tr>
            <td>Numérico</td>
            <td><input name="q1painum" size="5"/></td>
            <td><input name="q2painum" size="5"/></td>
        </tr>        
        <tr>
            <td><input type="submit"/></td>
            <td><input type="hidden" name="a" value="s"/></td>
            <td><a href="{% url 'tms:pai' %}">Volver</a></td>
        </tr>        
    </table>    
    
</form>