<!--
<form method="get" action="{%  url 'tms:pai' %}">
    {% csrf_token %}
    <input name="q0paicod" value="pepito"/><input name="q0painom"/><input type="submit"/>
</form>
-->

<style>
    td.align-right {
        text-align : right;
    }
</style>

<form method="get" action="{%  url 'tms:pai' %}">
    {% csrf_token %}
    
    <table>
        <tr>
            <td colspan="99">
                <div style="float:left"><a href="{% url 'tms:pai.add' %}">Crear</a>&nbsp;</div>
                <div style="float:left"><a href="{% url 'tms:pai.as' %}">Buscar</a>&nbsp;</div>
                <div style="float:left"><a href="{% url 'tms:pai' %}?page=1">Primera</a>&nbsp;</div>
                <div style="float:left"><a href="{% url 'tms:pai' %}?page={{ paginator.previous_page_number }}">Anterior</a>&nbsp;</div>
                <div style="float:left"><a href="{% url 'tms:pai' %}?page={{ paginator.next_page_number }}">Siguiente</a>&nbsp;</div>
                <div style="float:left"><a href="{% url 'tms:pai' %}?page=last">Última ({{ paginator.num_pages }})</a>&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>Alpha2</td>
            <td>Nombre</td>
            <td>Alpha3</td>
            <td>Num</td>
        </tr>
        <tr>
            <td><input name="q0paicod" size="5"/></td>
            <td><input name="q0painom" size="40"/></td>
            <td><input name="q0paic3c" size="5"/></td>
            <td><input name="q0painum" size="5"/></td>
            <td><input type="submit"/></td>
            <td><input type="hidden" name="a" value="s"/></td>
        </tr>        
    {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'tms:pai.edit' obj.paicod %}">{{ obj.paicod }}</a></td>
            <td>{{ obj.painom }}</td>
            <td>{{ obj.paic3c }}</td>
            <td class="align-right">{{ obj.painum }}</td>
        </tr>
    {% endfor %}       
    </table>    
    
</form>